
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Default/Create" method="post">
    <label>EmpName</label>
    <input  type="text" name="EmpName" />
       <br />
    <label>EmpPassword</label>
    <input type="text" name="EmpSalary" />
    <br />
    <input type="submit" value="Submit" />
</form>