
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Default/Create" method="post">
    <label>Student Name</label>
    <input type="text"  id="Stname" name="StudName" class="form-control" /><br />
    <label>Fees</label>
    <input type="text" id="StFees" name="StudFees" class="form-control" /><br />
    <label>Section</label>
    <input type="text" id="StSection" name="Section" class="form-control" /><br />
    <input type="submit"  value="submit" class="btn btn-success" />
</form>
