@model MVC8amPanthers.Models.Empdepartment

<table>
    <tr>
        <th>Empid</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
    </tr>
    @foreach (var item in Model.Empobj)
    {
        <tr>
            <td>@item.Empid</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>

<hr />


@Html.Partial("_MyPartialView", Model.Deptobj)





