
@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetEmployee</h2>

<table>
    <tr>
        <th>Empid</th>
        <th>Empname</th>
        <th>EmpSalary</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Zaein</td>
        <td>21000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Amandeep</td>
        <td>345000</td>
    </tr>
</table>